{% extends 'base.html' %}

{% block meta %}

    <title > Login </title>

{% endblock meta %}

{% block content %}

<style>
    body {
        background-image: url('https://cdn.akamai.steamstatic.com/apps/csgo/images/dreams/hyper_awp_1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin: 12px;
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        position: relative; 
    }

    .logo {
        position: absolute;
        top: 12px;
        left: 22px;
        z-index: 2;
        font-size: 36px;
        font-family: 'Helvetica', sans-serif;
        color: rgb(108, 20, 162);
    }

    .showcase h1,
    .showcase label,
    .showcase a {
        font-family: 'Helvetica', sans-serif;
        color: rgb(255, 255, 255);
    }

    .showcase a {
        font-family: 'Helvetica', sans-serif;
        color: #ffffff;
        text-decoration: underline; 
    }

    .showcase-bottom{
        font-family: 'Helvetica', sans-serif;
        color:rgb(164, 164, 164);
    }

    .showcase {
        text-align: center;
        background-color: #363636ac;
        border-radius: 16px;
        padding: 50px;
        width: 400px;
        text-align: center;
        padding-top: 30px;
        backdrop-filter: blur(6px);
    }

    .showcase form {
        font-family: 'Helvetica', sans-serif;
    }

    .showcase input[type="text"],
    .showcase input[type="password"] {
        font-family: 'Helvetica', sans-serif;
        color: black; 
        background-color: white;
    }

    .showcase .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    }

    .showcase .form-group label {
        font-family: 'Helvetica', sans-serif;
        margin-bottom: 8px;
        text-align: left; 
    }

    .showcase .form-control {
    font-family: 'Helvetica', sans-serif;
    width: 100%;
    padding: 12px; 
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 16px; 
    background-color: white;
    }

    .showcase .login-button {
        font-size: 16px;
        display: inline-flex;
        height: 56px;
        padding: 8px 48px;
        justify-content: center;
        align-items: center;
        gap: 16px;
        border-radius: 8px;
        background: var(--primary-blue, rgb(108, 20, 162));
        color: #ffffff;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }

    .text-title{
        text-align: left; 
        font-size:35px;
        font-weight: 600;
        padding-bottom: 19px;
        padding-top: 15px;
    }

</style>

<div class="logo">
    <div class="container-fluid">
        <img src="https://user-images.githubusercontent.com/108632813/274719542-82ddd9da-d588-4149-8663-b246d45a9ee0.jpg" class="img-fluid" alt="">
        <a class="navbar-brand">PESOLOSEP'S CSGO SKIN STORE</a>
    </div>
</div>

<div class="showcase">
    
    <h1 class="text-title">Sign In</h1>
    
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" id="username" placeholder="Username" class="form-control">
            <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input class="login-button" type="submit" value="Login">
        </div>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="showcase-bottom">
        Don't have an account yet? 
        <div class="showcase-register" >
            <a href="{% url 'main:register' %}" >Register Now</a>
        </div>
    </div>
    
</div>

{% endblock content %}